/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.text-danger{
    background: #fff2f4;
    margin-top: 5px;
    border-radius: 5px;
    /* height: 27px; */
    padding: 5px 10px;
    margin-bottom: -15px;
    text-align: justify;
}

.check-code-input{
    letter-spacing: 20px;
    text-align: center;
}

input {
    /*caret-color: transparent;*/
}



.tagify__dropdown__item{
    padding-right: 10px !important;
}

.form-label {
    margin-bottom: 10px;
}

.form-control , .form-select{
    font-size: 16px !important;
}

.datepicker-container a,.datepicker-container span,.datepicker-container div,.datepicker-container li,.datepicker-container{

    font-size: 15px;
}

.to-account-row{
    display: none;
}
